<div class="home-intro">
    <div class="jumbo">{{site.heading}}</div>
    <div class="home-sub-text">
        <h3>👋 Hi! I am an Mobile Developer. I'm interested in building mobile products. </h3>

        I usually publish on:
        <ul>
            <li><a href="https://www.modele-mentalne.pl/">modele-mentalne.pl</a> 🇵🇱</li>
            <li><a href="https://medium.com/@rafalgawlik">medium.com/@rafalgawlik</a> 🇺🇸</li>
            <li><a href="https://medium.com/software-development-toolbox">medium.com/software-development-toolbox</a> 🇺🇸</li>
        </ul>

        My artwork:
        <ul>
            <li><a href="https://displate.com/gewaraz?art=5c1fb90f4aefa">displate.com/gewaraz</a> 🏞</li>
        </ul>

        <hr/>

        <ul>
            <li>Twitter <a href="https://twitter.com/rafalgawlik">@rafalgawlik</a></li>
            <li>GitHub <a href="https://github.com/rafalgawlik">@rafalgawlik</a></li>
            <li>Email rafal.gawlik@gmail.com</li>
        </ul>
    </div>
</div>

